<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>

        <button type="button"
        class="btn btn-primary m-2 fload-end"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        @click="addClick()">
          Add Department
        </button>
        
        
        <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    DepartmentId
                </th>
                <th>
                    DepartmentName
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="dep in departments">
                <td>{{dep.DepartmentId}}</td>
                <td>{{dep.DepartmentName}}</td>
                <td>
                    <button type="button" class="btn btn-light mr-1" 
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    @click="editClick(dep)">düzenle</button>
                    <button type="button" class="btn btn-light mr-1">sil</button>
                
                </td>
            </tr>
        </tbody>
        
        </table>
        
        <div class="modal fade" id="exampleModal" tabindex="-1"
            aria-labelledby="axampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
                <button type="buton" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>
            <div class="modal-body">
        
                <div class="input-group mb-3">
                    <span class="input-group-text">Department Name</span>
                    <input type="text" class="form-control" v-model="DepartmentName">
                </div>
        
                <button type="button"
                v-if="DepartmentId==0" class="btn btn-primary">
                Create
                </button>
                <button type="button" v-if="DepartmentId!==0" class="btn btn-primary">
                Create
                </button>
        
            </div>
        
        
        </div>
        </div>
        </div>
        
        </div>
</body>
</html>